.form-search3 label {
  float: left;
  padding: 1px 8px 0 0;
  letter-spacing: -1px;
}

.form-search3 .text {
  float: left;
  margin: 0 14px 0 0;
  border: 1px solid #818181;
  padding: 0;
  width: 133px;
  background: #fff;
}

.form-search3 .select1 {
  float: left;
  margin: 0 15px 0 0;
  border: 1px solid #818181;
  padding: 0;
  width: 94px;
  background: #fff;
}

.form-search3 .select2 {
  float: left;
  margin: 0 15px 0 0;
  border: 1px solid #818181;
  padding: 0;
  width: 158px;
  background: #fff;
}